.keyboard {
  /*background-color: #cccccc;
  border: 3px solid grey;
  border-radius: 10px;
  box-shadow: 0 8px grey;*/
  padding: 20px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 0;
  margin: 3px 0;
}

.keyrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  width: 100%;
  gap: 10px;
  flex: 0 0 100%;
  /*margin-bottom: 10px;*/
}

.key {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 1 50px;
  min-height: 50px;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: var(--key-buttons);
  border: 3px solid var(--key-buttons-border);
  border-bottom-width: 5px;
  box-shadow: 0 5px 0 2px var(--key-buttons-shadow);
  margin: 0 0 5px 0;
  padding: 6px;
  cursor: pointer;
  transition: all 0.05s ease-out;
}

.key:hover {
  background-color: var(--key-hover);
  color: var(--body-secondary);
}

.key:active {
  box-shadow: 0 0 0 2px var(--key-buttons-shadow);
  margin: 5px 0 0 0;
  cursor: pointer;
}

#keyrow-2 div:first-of-type,
#keyrow-2 div:last-of-type {
  flex: 0 1 100px;
  /*min-width: 200px;*/
}

.previously-typed {
  background-color: rgb(129, 129, 129);
}
