@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/** {
  border: 1px dotted red;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.keyboard {
  margin-top: 20px;
  background-color: #cccccc;
  border: 3px solid grey;
  border-radius: 10px;
  box-shadow: 0 8px grey;
  padding: 20px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 0;
  margin: 3px 0;
  flex: 0 0 100%;
}

.keyrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  width: 100%;
  gap: 8px;
  flex: 0 0 100%;
  /*margin-bottom: 10px;*/
}

.key {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 1 50px;
  min-height: 50px;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: rgb(228, 228, 228);
  border: 3px solid rgb(189, 189, 189);
  border-bottom-width: 5px;
  box-shadow: 0 5px 0 2px grey;
  margin: 0 0 5px 0;
  padding: 6px;
  cursor: pointer;
  transition: all 0.05s ease-out;
}

.key:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.key:active {
  box-shadow: 0 0 0 2px grey;
  margin: 5px 0 0 0;
  cursor: pointer;
}

#keyrow-3 div:first-of-type,
#keyrow-3 div:last-of-type {
  flex-basis: 300px;
}

.previously-typed {
  background-color: rgb(129, 129, 129);
}
