.wordle-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin: 20px 0;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.row {
  display: flex;
  gap: 5px;
}

/*.box::before {
  background-color: none;
  width: 0;
  z-index: 100;
}*/

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 60px;
  font-weight: 500;
  border: 3px solid lightgrey;
  transition: all 0.4s ease-in-out;
}

.row > div {
  transition: all 0.4s ease-in-out;
}

.row > div.flip {
  transform: rotateY(-0.5turn);
}

.box.correct-spot {
  background-color: rgb(0, 153, 0);
  transform: rotateY(0.5turn);
}

.box.wrong-spot {
  background-color: rgb(255, 217, 0);
  transform: rotateY(0.5turn);
}

.box.not-in-word {
  background: lightgray;
  transform: rotateY(0.5turn);
}

.box.typed {
  scale: 1.3;
}

#message-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  transition: all 3s ease-in-out;
}

#message-container.hide {
  display: none;
  transition: all 3s ease-in-out;
}

#message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 400px;
  width: 30vw;
  height: 40vh;
  padding: 20px;
  background-color: #ffffff;
}

/*#message #annouce {
}*/
