@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/** {
  border: 1px dotted red;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  height: 100vh;
}

.container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#top-banner {
  background-color: rgb(0, 211, 183);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#top-banner > * {
  flex: 1;
}

#top-banner i {
  cursor: pointer;
}
#top-banner i:hover {
  color: white;
}

#right-header-icons > i {
  margin-left: 10px;
}

#right-header-icons {
  text-align: right;
}

.wordle-container {
  display: flex;
  /*flex: 1;*/
  gap: 5px;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin: 20px 0;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.row {
  display: flex;
  gap: 5px;
}

/*.box::before {
  background-color: none;
  width: 0;
  z-index: 100;
}*/

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 60px;
  font-weight: 500;
  border: 3px solid lightgrey;
  transition: all 0.4s ease-in-out;
}

.row > div {
  transition: all 0.4s ease-in-out;
}

.row > div.flip {
  transform: rotateY(-0.5turn);
}

.box.correct-spot {
  background-color: rgb(0, 153, 0);
  transform: rotateY(0.5turn);
}

.box.wrong-spot {
  background-color: rgb(255, 217, 0);
  transform: rotateY(0.5turn);
}

.box.not-in-word {
  background: lightgray;
  transform: rotateY(0.5turn);
}

.box.typed {
  scale: 1.3;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 300ms;
  /*transition: all 3s ease-in-out;*/
}

#message {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  width: 600px;
  height: 500px;
  padding: 20px;
  background-color: #ffffff;
}

.overlay.hide {
  display: none;
}

#sub-text {
  flex: 1;
}

#the-word {
  margin-bottom: 10px;
  font-weight: 200;
}

#word-definition {
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  line-height: 40px;
  max-width: 500px;
  width: 500px;
  overflow: none;
  padding: 10px;
  resize: none;
  /*align-self: flex-end;*/
}

.hide-form {
  display: none;
}

#modal-buttons {
  display: flex;
  gap: 20px;
}
/*#message #annouce {
}*/

@keyframes slideIn {
  0% {
    /*transform: translateY(50px);*/
    opacity: 0;
  }

  100% {
    /*transform: translateY(0px);*/
    opacity: 1;
  }
}
