.container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  margin: 20px 0;
}

.row {
  display: flex;
  gap: 5px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 60px;
  font-weight: 500;
  border: 3px solid lightgrey;
}

.correct-spot {
  background-color: green;
}

.wrong-spot {
  background-color: yellow;
}

.not-in-word {
  background: lightgray;
}
